/.bash_history
/.bash_logout
/.bashrc
/.cache
/.config
/.dotnet
/.gnupg
/.local
/.mozilla
/.mysql_history
/.npm
/.pki
/.profile
/.ssh
/.sudo_as_admin_successful
/.thunderbird
/.vscode
/.wget-hsts
/Bureau
/Documents
/Images
/Modèles
/Musique
/Public
/Téléchargements
/Vidéos
/composer.json
/composer.lock
/package-lock.json
/snap